.login > div > img{
    object-fit: contain;
    height:150px;
}

.login > div{
    display: flex;
    flex-direction: column;
}
.login{
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > button{
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;

}
.login > button:hover{
    transform: scale(1.07);
    background-color: #2e81f4;
    color: #eff2f5;
    transition: transform 100ms ease-in;

}